* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

#block {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.A, .B, .C {
    width: 50%;
    border: 2px solid #000;
    margin: 10px;
    text-align: center;
    flex-grow: 1;
}

.C {
    flex-grow: 0.01;
}
/* .B {
    width: 100px;
    /* height: 10px;
    border: 2px solid #000;
    margin: 10px; 
} */